# Contracts only — never expose to frontend
PRIVATE_KEY=

# Frontend — safe to expose
NEXT_PUBLIC_CELO_RPC=https://alfajores-forno.celo-testnet.org
NEXT_PUBLIC_CHAIN_ID=44787
NEXT_PUBLIC_CELOPLACE_ADDRESS=
NEXT_PUBLIC_CELOCHAT_ADDRESS=
NEXT_PUBLIC_EXPLORER_URL=https://alfajores.celoscan.io
